@model Blog_le6perite.Models.Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "My Posts";
}

<h2>My posts</h2>
@if(ViewBag.MyPosts == null)
{
    <h3>You don't have any posts.</h3>
    <br />    
    <a href="../Posts/Create" class="btn btn-default">Create your first one!</a>
}
else
{
    
    <h3 style="font-size: 1.8em">Your posts on this blog are: </h3>
    foreach (var post in ViewBag.MyPosts)
    {
        <h3><a href="../Posts/Details/@post.Id" id="myPosts" style="text-decoration: none; color: #DB3340; font-size: 1.2em"> @post.Title</a></h3>
    }
}
