@model Blog_le6perite.Models.Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Search results";
}

<h2>Results</h2>

@if (ViewBag.SearchResults != null)
{
    foreach (var searchResult in ViewBag.SearchResults)
    {
        <h4><a href="../Posts/Details/@searchResult.Id">@searchResult.Title</a> by @searchResult.Author.FullName</h4>
    }
}
else
{
    <h4>No matching results found.</h4>
}

