@{
    ViewBag.Title = "Home";
}

<section>
    <article>
        <h2 class="title">Post Title</h2>
        <div class="about">
            Posted on <i>1-Jul-2016</i>
            by <i>Danail Iliev (iliev)</i>
        </div>
        <div class="body">Post content comes here</div>
    </article>

    <article>
        <h2 class="title">Post Title</h2>
        <div class="about">
            Posted on <i>1-Jul-2016</i>
            by <i>Danail Iliev (iliev)</i>
        </div>
        <div class="body">Post content comes here</div>
    </article>

</section>