@{
    ViewBag.Title = "Home";
}

@model List<Blog_le6perite.Models.Post>

@foreach (var post in Model)
{
    <section class=="row">
        <article class="post col-md-6">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author!=null)
                {
                    @: by <i>@*@post.Author.FullName*@(post.Author.UserName)</i>
                }
            </div>
            <p>Post content comes here.</p>
        </article>
    </section>
}