@using Blog_le6perite.Classes;
@{
    ViewBag.Title = "Home";
}

@model List<Blog_le6perite.Models.Post>

@foreach (var post in Model)
{
    <section class="row">
        <article class="post col-md-12">
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Posted on <i>@post.Date</i>
                @if (post.Author!=null)
                {
                    @: by <i>@post.Author.FullName</i>
                }
            </div>
            <div class="body">@Html.Raw(Utils.CutText(post.Body))</div>
        </article>
    </section>
}